.create-header{
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: blue;
    font-style: italic;
}
.create-form{
    display:inline-table;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:90px;
}
.create-submit-button-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.create-submit-button{
   font-size: 20px;
   background-color: rgb(19, 152, 219);
   color: whitesmoke;
   border-radius: none;
   transition: 0.4s;
}
.create-submit-button:hover{
    background-color: whitesmoke;
    color: black;
}
.create-form-container{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}